<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBb3sZSTauJjypEj6Z7r4wwHkkfnJAfmg8</string>
	<key>GCM_SENDER_ID</key>
	<string>828358148732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eatwise</string>
	<key>PROJECT_ID</key>
	<string>eatwise-8091f</string>
	<key>STORAGE_BUCKET</key>
	<string>eatwise-8091f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828358148732:ios:7337b7de6346d4ffe33ff9</string>
</dict>
</plist>